@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Koulen&family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Changa:wght@300&family=Koulen&family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Changa:wght@300&family=Inter:wght@400;500&family=Koulen&family=Oswald:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.koulen {
  font-family: "Koulen", cursive;
}

.changa {
  font-family: "Changa", sans-serif;
}

.bungee {
  font-family: "Bungee", cursive;
}

.inter {
  font-family: "Inter", sans-serif;
}
